.cardglobe {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 25px;
  /* max-width:1900px; */
  min-width: 95%;
  /* min-height: 1250px; */
  background-color: #dfe6e9;

  text-align: center;
}

.cards {
  border-radius: 25px;
  position: relative;
  padding: 15px 15px;
  background-color: rgb(247, 244, 244);
  margin: 30px 5px;
  height: calc(130vh - 15px);
  box-shadow: 0px 2px 5px #dfe2e2;
}

.heading {
  text-align: left;
  margin-left: 65px;
  font-size: 20px;
  color: rgb(41, 243, 139);
}

hr {
  color: red;
  margin: 10px 65px;
  background-color: rgb(124, 122, 122);
}

form {
  padding: 20px 0;
  position: relative;
}

.formlabel,
.formlabel56 {
  margin-left: 25px;
  font-size: 12px;
  text-align: left;
}

.formInput,
.formInput1 {
  display: flex;
  flex-direction: column;
}

.formrow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 6px;
  padding: 0 60px;
}

.frm {
  margin-top: 15px;
}

.formlabel12,
.formlabel17,
.formlabel16 {
  font-size: 12px;
  position: relative;
  text-align: left;
}
.formlabel12 {
  margin-left: -380px;
}
.formlabel17 {
  margin-left: -404px;
}
.formlabel16 {
  margin-left: -404px;
}
.input-18 {
  height: 150px;
}

input[type="text"]::placeholder {
  text-align: left; /* for Chrome, Firefox, Opera */
}

input,
select {
  border: 1px solid rgba(46, 40, 40, 0.4);
  background-color: rgba(252, 252, 252, 0.2);

  border-radius: 5px;
  font-family: sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgb(43, 43, 46);
  font-weight: 300;
}
input {
  width: 90%;
}
select {
  width: 500px;
}
.inputFlex,
.inputFlex1,
.inputFlex56,
.inputFlex12 {
  display: flex;
  margin-bottom: 10px;
}

.inputFlex,
.inputFlex56 {
  padding: 0 20px;
}

.input-1 {
  margin-right: 7px;
  margin-left: 45px;
}

.input-2 {
  margin-right: 100px;
}

label {
  font-weight: 700;
  padding: 5px 42px;
  margin: 5px;
}

form button,
.btnnew {
  /* appearance: none; */
  cursor: pointer;
  outline: 0;
  /*  */
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 10px;
}

form button {
  width: 120px;
  /* border: 0; */
  background-color: #39e97d;
  color: white;
}

.btnnew {
  width: 400px;
  background-color: white;
  color: #39e97d;
  border-color: #39e97d;
  border-style: solid;
}
@media only screen and (max-width: 768px) {
  .cardglobe {
    min-width: 80%;
  }

  .cards {
    height: calc(150vh - 15px);
    width: 90%;
  }
  .formInput,
  .formInput1 {
    display: flex;
    flex-direction: column;
  }
  .formlabel12 {
    margin-left: -222px;
  }
  .inputFlex12 {
    margin-left: -93px;
  }
  .formlabel16 {
    margin-left: -269px;
  }
  .formlabel17 {
    margin-left: -233px;
  }
  .formrow {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .frm {
    margin-top: 15px;
  }

  .formlabel56 {
    margin-left: 22px;
  }
  .inputFlex56 {
    padding: 0 25px 0 62px;
  }
  select {
    width: 240px;
  }
  .btnnew {
    width: 250px;
  }
}
