.topbar{
    height: 65px;
    width: 100%;
    background-color: #f0f2f5;
    /* position: fixed; */
    top: 0;
    z-index: 999;
    font-family: sans-serif;
}
.topbarWrapper{
    height: 65px;
    display: flex;
    align-items: center;
}


.homeLogo1{
    font-size: 35px;
    font-weight: 700;
    margin-left: 50px;
    margin-right: 25px;
    color: #091c45;
    font-family: Roboto;
}

